.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20pt;
}

.subtitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 200;
    font-size: 14pt;
}

.description {
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
}

.detail {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px;
}

.button.front {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;    
}

img {
    height: 400px;
    width: 300px;
}


